<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <sm-criteria class='col-md-10'
                [displayDetail]='includeDetail'
                [hitCount]='filtredStocks?.length'
                (valueChange)='onValueChange($event)'>
            </sm-criteria>     
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <img style='width:40px;margin:10px' src='/assets/images/flags/sweden.png' (click)="filterOnFlag('1')"/>
                <img style='width:40px;margin:10px' src='/assets/images/flags/norway.png' (click)="filterOnFlag('2')"/>
                <img style='width:40px;margin:10px' src='/assets/images/flags/finland.png' (click)="filterOnFlag('3')"/>
                <img style='width:40px;margin:10px' src='/assets/images/flags/denmark.png' (click)="filterOnFlag('4')"/>
            </div>
            <div class='col-md-6'>
                <select class='select-option'  (change)='marketSelected($event)'>
                    <option value='0'>Alla marknader</option>
                    <option *ngFor='let market of markets' value='{{market.id}}'>
                      {{market.exchangeName}} - {{market.name}}
                    </option>
                  </select>    
                  <br/>
                  <select class='select-option' (change)='branchSelected($event)'>
                    <option value='0'>Alla brancher</option>
                    <option *ngFor='let branch of branches' value='{{branch.id}}'>
                      {{branch.name}}
                    </option>
                  </select>   
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='stocks?.length'>
                <thead>
                    <tr>
                        <th>Land</th>
                        <th>Ticker</th>
                        <th>Namn</th>
                        <th>Marknad</th>
                        <th>Sektor</th>
                        <th>Branch</th>
                        
                        
                        <th>Antal</th>
                        <th>Pris</th>
                        <th>Lägg till</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let stock of filtredStocks'>
                        <td><sm-flag [flagId]='stock.countryId'></sm-flag></td>
                        <td>{{stock.ticker}}</td>
                        <td>
                            <a [routerLink]="['/stocks', stock.insId]"> {{stock.name}}</a></td>
                        <td>{{stock.marketId}}</td>
                        <td>{{stock.sectorId}}</td>
                        <td>{{stock.branchId}}</td>
                       
                        
                        <td><input style="width:50px;"></td>
                        <td><input style="width:50px;"></td>
                        <td>
                            <button class="btn btn-primary"  (click)="addStock($event, stock)">
                                Lägg till
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>